.main-container {
  width: 567px;
  height: fit-content;
  margin: 0 auto; /* Center the container horizontally */
}

h3 {
  text-align: center;
  color: #000000;
}

.search-pannel {
  border: 1px solid;
  width: 100%; /* Fill the main-container */
  height: 40px;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between input and button */
  padding: 0 10px;
  box-sizing: border-box;
}

.table {
  margin-top: 15px;
  width: 567px; /* Fill the main-container */
  height: fit-content;
  border: 1px solid;

  border-collapse: collapse;
}
th {
  background-color: lightyellow;
  border: 1px solid;
  font-size: 15px;
  line-height: 20px;
}
tr:nth-child(even) {
  background-color: lightgray;
}
td {
  border: 1px solid;
  font-size: 12px;
  line-height: 20px;
  background-color: lightskyblue;
}

.search_input {
  border: 1px solid;
  border-radius: 2px;
  width: 200px;
  font-size: 15px;
  height: 30px;
  background-color: wheat;
}

.add_btn {
  border: 1px solid;
  border-radius: 2px;
  width: 100px;
  font-size: 15px;
  height: 30px;
}
.addEditPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  height:300px;
  
width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the popup is above other content */
}
.closeBtn{
  float:right;
  font-size:25px;
  margin-right:5px;
  font-weight:bold;

}
h4{
  text-align: center;;
  margin-top:5px;
  border: 1px;
  border-radius: 2px;

}
.popupdiv{
  margin-left: 15px;

}
.popupinput{
  font-size: 15px;
  width:185px;
  border:#000000 solid 1px;
  border-radius: 2px;
  height:25px;
  background-color: wheat;
}